<!-- The top of file index.html -->
<html itemscope itemtype="http://schema.org/Article">
<head>
    <!-- BEGIN Pre-requisites -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://yckart.github.io/jquery.base64.js/jquery.base64.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <!-- END Pre-requisites -->
    <!-- Continuing the <head> section -->
    <script type="text/javascript">
        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '22087758048-9pkmlv5g3c2ve32h6idbec23jdkpahd7.apps.googleusercontent.com',
                    // Scopes to request in addition to 'profile' and 'email'
                    scope: 'https://www.googleapis.com/auth/gmail.readonly'
                });
            });
        }
    </script>
</head>
<body>
<div>
    <h3>Callback</h3>
    <p id="callback"></p>

</div>
<!-- Add where you want your sign-in button to render -->
<!-- Use an image that follows the branding guidelines in a real app -->
<div id="app" style="position: relative; width: 100%;">
    <button id="signinButton" v-on:click="onSignIn">Sign in with Google</button>
    <button id="signoutButton" v-on:click="onSignOut">Sign out</button>
    <button id="threadsButton" v-on:click="onGetThreads">get threads</button>

    <div style="margin-right:500px; overflow: scroll; height: 1000px; background: #999;">
        <table id="threads" width="100%">
            <tr>
                <td>
                    di
                </td>
                <td>
                    snippet
                </td>
                <td>
                    action
                </td>
            </tr>
            <tr v-for="thread in threads">
                <td>
                    {{thread.id}}
                </td>
                <td>
                    {{thread.snippet}}
                </td>
                <td>
                    <button class="message-button" :data-id="thread.id" v-on:click="onGetMessage">show message</button>
                </td>
            </tr>
        </table>
    </div>
    <div style="width:500px; overflow: scroll; height: 1000px; position: absolute; top:0; right: 0; background: #99aa99;">
        <table id="message" border="1">
            <tr v-for="msgAttr in message.attrs">
                <td>
                    {{msgAttr.name}}
                </td>
                <td>
                    {{msgAttr.value}}
                </td>
            </tr>
            <tr>
                <td>
                    Body
                </td>
                <td>
                    {{message.body}}
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            'threads': [],
            'message': {}
        },
        methods: {
            onGetMessage: function (event) {
                var self = this;
                $.ajax({
                    method: 'GET',
                    url: 'http://localhost:9999/message.php',
                    data: {id: event.target.getAttribute('data-id')},
                    success: function (result) {
                        var dataObj = JSON.parse(result);
                        dataObj.message.body = $.base64.decode(dataObj.message.body);
                        self.message = dataObj.message;
                        $("#message").show();
                    }
                });
            },
            onGetThreads: function (event) {
                this.getThreads();
            },

            onSignOut: function (event) {
                var self = this;
                $.ajax({
                    method: 'GET',
                    url: 'http://localhost:9999/logout.php'
                });
                self.threads =[];
                self.message ={};

                self.settingNotAuthentication();
            },
            onSignIn: function(event) {
                auth2.grantOfflineAccess().then(app.signInCallback);
            },
            getThreads: function(){
                var self = this;
                $.ajax({
                    method: 'GET',
                    url: 'http://localhost:9999/threads.php',
                    success: function (result) {
                        var dataObj = JSON.parse(result);
                        self.threads = dataObj.threads;
                    }
                });
            },
            signin: function(authResult) {
                var self = this;
                $.ajax({
                    method: 'GET',
                    url: 'http://localhost:9999/login.php',
                    success: function (result) {
                        data = JSON.parse(result);
                        if (data['result'] == 'successed') {
                            $("#callback").html(data['msg']);
                            self.getThreads();
                            self.settingAuthentication();
                        } else {
                            $("#callback").html(data['result']);
                        }
                    },
                    data: {gcode: authResult['code']}
                });
            },
            settingAuthentication: function () {
                $('#signinButton').hide();
                $('#signoutButton').show();
                $("#threadsButton").show();
                $("#threads").show();
                $("#message").hide();
            },
            settingNotAuthentication: function () {
                $('#signinButton').show();
                $('#signoutButton').hide();
                $("#threadsButton").hide();
                $("#threads").hide();
                $("#message").hide();
            },
            auth: function () {
                var self = this;
                $.ajax({
                    method: 'GET',
                    url: 'http://localhost:9999/auth.php',
                    success: function (result) {
                        var data = JSON.parse(result);
                        if (data['hasLogedIn']) {
                            self.settingAuthentication();
                            self.getThreads();
                        }
                    },
                });
            },
            init: function(){
                this.settingNotAuthentication();
                this.auth();
            },
            signInCallback: function (authResult) {
                if (authResult['code']) {
                    this.signin(authResult);
                } else {
                    // There was an error.
                }
            }
        }

    });

    $(function () {
        app.init();
    });

</script>
<!-- ... -->
</body>
</html>